body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .middle-text {
    display: flex;
    align-items: center;
  }
  
  .middle-text i {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    color: #709085;
  }
  
  .login-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-outline input {
    border-radius: 2rem;
    padding: 1.5rem 2rem;
    font-size: 1.25rem;
    border: none;
    box-shadow: none;
    background-color: #f8f9fa;
    color: #212529;
    font-weight: bold;
  }
  
  .form-outline input:focus {
    background-color: #fff;
    box-shadow: none;
    outline: none;
  }
  
  .btn-primary {
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    box-shadow: none;
    background-color: #709085;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #546e7a;
    transform: scale(1.05);
  }
  
  a {
    color: #709085;
    font-weight: bold;
  }
  
  a:hover {
    color: #546e7a;
    text-decoration: none;
  }
  