.card-spacing {
  margin-right: 100px;
  margin-bottom: 45px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
}
