.card-spacing {
  margin-right: 100px;
  margin-bottom: 45px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 50%;
  margin-top: -70px;
  z-index: 2;
  align-items: stretch;
}
.form-outline {
  display: flex;
  /* align-items: center; align items vertically in the center */
}

#autofill-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
}

.btn-primary {
  padding: 0.375rem 0.75rem;
  margin-top: 0; /* add this line */
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}
.form-control {
  flex: 1;
}

.form-outline {
  width: 350px !important;
}

.suggestion {
  width: 350px !important;
  background-color: white;
}
